body {

    font-family: Arial, sans-serif;
}

form {
    background-color: #fff;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.koptekst {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beschrijving {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkjes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}